<title>Company Management: Company</title>

<br>
<div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{CompanyName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let companies of Hq.companies, let i = index;">
          <button (click)="Update(i)" ngbDropdownItem>{{companies.name}}</button>
        </div>
      </div>
    </div>
</div>

<div>
  <div *ngIf="SelectedCompany != undefined">
    <table class="table">
      <tr>
        <th scope="col" style="width: 150px;">Modify</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Wage</th>
      </tr>
      <tbody>
        <tr *ngFor="let employees of SelectedCompany">
          <th>{{employees.FirstName}}</th>
          <th>{{employees.LastName}}</th>
          <th>{{employees.Wage}}</th>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block">Add New Employee</button>
  </div>

</div>
