<title>Company Management: Company</title>

<br>
<div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{CompanyName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let companies of Hq.companies, let i = index">
          <button (click)="Update(i)" ngbDropdownItem>{{companies.name}}</button>
        </div>
      </div>
    </div>
</div>
<div>*Unknown Issue: After editing, you have to refresh page to see change*</div>
<div>
  <div *ngIf="SelectedCompany != undefined">
    <table class="table">
      <tr>
        <th scope="col" style="width: 150px;">Modify</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Wage</th>
      </tr>
      <tbody>
        <tr *ngFor="let employees of SelectedCompany.employees, let i = index">
          <th scope="row"><button (click)="removeEmployee(i)" class="btn btn-danger">Delete</button></th>
          <th>{{employees.FirstName}}  <button (click)="editFirstName(i)" class="btn btn-outline-info">Edit</button></th>
          <th>{{employees.LastName}}   <button (click)="editLastName(i)" class="btn btn-outline-info">Edit</button></th>
          <th>${{employees.Salary}}   <button (click)="editWage(i)" class="btn btn-outline-info">Edit</button></th>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="AddEmployee()">Add New Employee</button>
  </div>

</div>
