div>a{
  padding: 5px;
  border: 2px solid black;
  margin: 5px;
  text-decoration: none;
  color: black;
}

div>a:hover{
  background:rgb(233, 233, 233);
}

.home{
  margin-top: 20px;
  margin-left: 5px;
  border: solid black 1px;
  padding: 10px;
  width: fit-content;

}

.companies{
  margin: 5px;
}


.info{
  border: dashed black 1px;
  padding: 10px;
  width: fit-content;
  margin-left: 5px;
}
